{% extends "base.html" %}

{% block navbar %}	
    <div class="navbar-end">
        <div class="navbar-item">
            <input class="input is-small" type="text" id="dni" placeholder="Nro de DNI...">
        </div>
        </div>
        <p class="control">
            <button class="button is-small is-info is-outlined" onclick="searchByDNI()">
                <span class="icon"><i class="fa fa-user"></i></span>
                <span>Buscar</span>
            </button>
        </p>
    </div>
{% endblock navbar %}

{% block search %}
    <a class="navbar-item is-active" href="#">Movimientos</a>
    <a class="navbar-item" href="proceso">Proceso de Archivos</a>
{% endblock search %}

{% block content %}
  {% for movement in movements %}
    <article class="post">
      {{movement}}
    </article>
  {% endfor %}
{% endblock search %}

{% block script %}
    <script>
        function searchByDNI() {
            const dni = document.getElementById('dni').value.trim();
            if (dni === null || dni === undefined || dni === '') {
              window.location.href='/';
            } else if (isNaN(dni)){
              alert('El valor ingresado no es un número');
            } else {
              window.location.href=`/${dni}`;
            }
        }
    </script>
{% endblock script %}
