{% extends "base.html" %}

{% block navbar %}	
    <div class="navbar-end">
        <div class="navbar-item">
            <input class="input is-small" type="text" id="dni" placeholder="Nro de DNI...">
        </div>
        </div>
        <p class="control">
            <button class="button is-small is-info is-outlined" onclick="searchByDNI()">
                <span class="icon"><i class="fa fa-user"></i></span>
                <span>Buscar</span>
            </button>
        </p>
    </div>
{% endblock navbar %}

{% block search %}
	<a class="navbar-item" href="/">Movimientos</a>
	<a class="navbar-item is-active" href="proceso">Proceso de Archivos</a>
	</div>
	<div class="navbar-end">
	<div class="navbar-item">
		<input class="input" type="search" placeholder="Buscar...">
	</div>
{% endblock search %}

{% block content %}
	<article class="post">
		<form action="http://localhost:5000/procesar_depositos" method="POST" enctype="multipart/form-data">
			<input type="file" name="file" />
			<input type="submit" value="Depositos"/>
		</form>
		</article>
		<article class="post">
		<form action="http://localhost:5000/procesar_transferencias" method="POST" enctype="multipart/form-data">
			<input type="file" name="file" />
			<input type="submit" value="Transferencias"/>
		</form>
		</article>
		<article class="post">
		<form action="http://localhost:5000/procesar_gastos" method="POST" enctype="multipart/form-data">
			<input type="file" name="file" />
			<input type="submit" value="Gastos"/>
		</form>
	</article>
{% endblock content %}